body{
    background: #f5f5f5;
    min-width: 300px;
}

/*安全提示*/
.jd_safeTip{
    height: 34px;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    line-height: 34px;
    text-align: center;
}
.jd_safeTip p{
    display: inline-block;
    position: relative;
    padding-left: 23px;
    font-size: 12px;
    color: #666;
}
.jd_safeTip p::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background: url("../images/safe_icon.png") no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
}

/*店铺区块*/
.jd_shop{
    margin-top: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.jd_shop .jd_shop_tit{
    height: 34px;
    line-height: 34px;
    position: relative;
}
.jd_shop .jd_shop_con{

}
/*复选框*/
.jd_check_box{
    background: url("../images/shop-icon.png") no-repeat;
    background-size: 50px 100px;
    width: 40px;
    height: 34px;
    padding: 7px 10px;
    background-clip: content-box;
    background-origin: content-box;
    display: block;
}
.jd_check_box[checked]{
    background-position: -25px 0;
}

/*商品盒子*/
.jd_product{
    height: 100px;
    border-top: 1px solid #ccc;
    position: relative;
    padding: 10px 0;
}

.left_con{
    width: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.right_con{
    padding-left: 40px;
    width: 100%;
}

.right_con .shop_logo{
    width: 15px;
    height: 13px;
    float: left;
    margin-top: 10px;
}
.right_con .shop_name{
    float: left;
    margin-left: 10px;
}
.right_con .shop_tip{
    float: right;
    margin-right: 10px;
    color: #D8505C;
    font-size: 12px;
}

/*商品*/
.product_img{
    float: left;
    width: 80px;
    height: 80px;
}
.product_img img{
    width: 100%;
    height: 100%;
    display: block;
}

.product_info{
    overflow: hidden;
    padding: 0 10px;
}

.product_info .info_name{
    height: 30px;
    line-height: 15px;
    overflow: hidden;
    display: block;
}
.product_info .info_price{
    color: #D8505C;
    padding-top: 5px;
}

/*数量选择*/
.change_num{
    float: left;
}
.change_num span{
    border: 1px solid #ccc;
    height: 24px;
    width: 32px;
    text-align: center;
    line-height: 24px;
    float: left;
}
.change_num span:first-of-type{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.change_num span:last-of-type{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.change_num input{
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 24px;
    width: 32px;
    text-align: center;
    line-height: 24px;
    float: left;
}
/*删除按钮*/
.delete_btn{
    float: right;
}
/*盖子*/
.delete_btn .delete_up{
    height: 5px;
    width: 20px;
    background: url("../images/delete_up.png") no-repeat;
    background-size: 20px 5px;
    display: block;
    margin-left: -1px;
}
/*篓子*/
.delete_btn .delete_down{
    height: 18px;
    width: 18px;
    background: url("../images/delete_down.png") no-repeat;
    background-size: 18px 18px;
    display: block;
    margin-top: -2px;
}

/*弹出框*/
.jd_win{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
}
.jd_win > .jd_win_box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.jd_win > .jd_win_box > .win_text{
    font-size: 18px;
    line-height: 75px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.jd_win > .jd_win_box > .win_btn{
    padding-top: 10px;
}
.jd_win > .jd_win_box > .win_btn a{
    height: 36px;
    width: 45%;
    float: left;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
    border-radius: 4px;
}
.jd_win > .jd_win_box > .win_btn a:first-child{
    border: 1px solid #ccc;
    margin-right: 10%;
}
.jd_win > .jd_win_box > .win_btn a:last-child{
    background: #D8505C;
    color: #fff;
}

.jd_win > .jd_win_box.myBounceInDown{
    -webkit-animation: myBounceInDown 1s;
    animation: myBounceInDown 1s;
}

/*动画*/
/*translate3d 调用 硬件加速   GPU */
@-webkit-keyframes myBounceInDown{
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-50%,-1000%,0);
        transform: translate3d(-50%,-1000%,0);
    }
    60%{
        opacity: 1;
        -webkit-transform: translate3d(-50%,-42%,0);
        transform: translate3d(-50%,-42%,0);
    }
    75%{
        -webkit-transform: translate3d(-50%,-55%,0);
        transform: translate3d(-50%,-55%,0);
    }
    90%{
        -webkit-transform: translate3d(-50%,-48%,0);
        transform: translate3d(-50%,-48%,0);
    }
    100%{
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
}
@keyframes myBounceInDown{
    0%{
        opacity: 0;
        -webkit-transform: translate3d(-50%,-1000%,0);
        transform: translate3d(-50%,-1000%,0);
    }
    60%{
        opacity: 1;
        -webkit-transform: translate3d(-50%,-42%,0);
        transform: translate3d(-50%,-42%,0);
    }
    75%{
        -webkit-transform: translate3d(-50%,-55%,0);
        transform: translate3d(-50%,-55%,0);
    }
    90%{
        -webkit-transform: translate3d(-50%,-48%,0);
        transform: translate3d(-50%,-48%,0);
    }
    100%{
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
}