/*
    变量

    Scss通过$关键字声明和使用一个变量,频繁使用的color、radius、长度等数据可以声明为变量放在头部
*/

$h:20px;
$red:red;
$b-c:'#ccc';

/*
操作符
SASS提供了标准的算术运算符，例如+、-、*、/、%，可以采用运算符直接对数据进行处理。

*/
.test {
    width: $h*2;
    background-color: $red;
}

/*
    嵌套
    Sass 允许将一套 CSS 样式嵌套进另一套样式中，内层的样式将它外层的选择器作为父选择器，
    在嵌套规则中可以写任何css代码，包括群组选择器（,），子代选择器（>），同层相邻组合选择器（+）、同层全体组合选择器（~）

    & =嵌套规则外层的父选择器，有多层嵌套时 ，最外层的父选择器会一层一层向下传递，&=级联的祖辈选择器。
    使用伪类选择器时，需要直接使用嵌套外层的父选择器
*/
.box {
    width: 300px;
    border: 1px solid green;

    >.son {
        font-weight: 600;
    }
}
/*
    插值语句 #{} (Interpolation: #{})
*/ 
$name: foo;
$attr: border;
p.#{$name} {
  #{$attr}-color: blue;
}

/*
@for 指令可以在限制的范围内重复输出格式，每次按要求（变量的值）对输出结果做出变动。
*/

@for $i from 1 through 100 {
    .fs#{$i} {
        font-size: $i+px;
    }
}